---

---

<div class="footer-point">
  <ul>
    <li>GitHub</li>
    <li>Frontend Mentor</li>
    <li>LinkedIn</li>
    <li>Twitter</li>
    <li>Instagram</li>
  </ul>
</div>

<style lang="scss">
  @import "../style/footer.scss";
</style>
